name: Deploy Helm Chart to Minikube

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: self-hosted

    env:
      HOME: /home/githubrunner
      MINIKUBE_HOME: /home/githubrunner/minikube

    steps:
    - name: Checkout Code
      uses: actions/checkout@v3

    - name: Set up Docker
      uses: docker/setup-buildx-action@v3

    - name: Set up Minikube
      uses: medyagh/setup-minikube@v0.0.13
      env:
        MINIKUBE_HOME: /home/githubrunner/minikube

    - name: Wait for cluster to be ready
      run: kubectl get pods -A

    - name: Deploy Helm Chart
      run: |
        helm upgrade --install myapp ./myapp \
          --namespace default \
          --create-namespace

    - name: Get service info
      run: kubectl get svc

    - name: Print Service URL
      run: minikube service myapp --url
